*.class

# Package Files #
*.jar
*.war
target/
build/
bin/
supporting/

_site/
.classpath
.project
.settings
.springBeans
.DS_Store
*.sw*
*.iml
*.ipr
*.iws
.idea/
.factorypath

dump.rdb
coverage-error.log
.apt_generated
